body{
    font-family: 'Open Sans', sans-serif;
    font-size:14px;
   

}
nav{
    font-family:'Roboto', sans-serif;
    text-align: center;
    font-size:13px;
}
.navLogo{
    height:30;
}

.navTitle{
    /*padding-right:70px;*/
}

.navSubs{
 
}

.dropdown{
    list-style-type: none;
}

#topContainer{
     padding-top: 30px;
}

.firstRow{
   /* padding-left:25px;
    padding-right:25px;*/
}
.top_carousel{
    /*vertical-align: middle;*/
}
#carouselDiv{
   /* width:560px;
    padding-top:40px;*/
}

.insideCarousel{
    /*vertical-align: middle;*/
    
}
.carousel-item{
    
   /*height:315px;*/
}
.videoContainer{
    width:100%;    
}
.mainVideo{
    border: none;
    box-shadow: none;
   
 }

 .carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  /*outline: black;*/
  background-size: 100%, 100%;
  border-radius: 50%;
  /*border: 1px solid black;*/
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  font-weight:900;
  color: #3eb058;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  font-weight:900;
  color: #3eb058; /*c82333*/
}
.top_content{
    /*min-width: 500px;*/
}

.fundingState{ 
    text-transform:uppercase;
    color:#088366;
    letter-spacing: 1px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    box-sizing: border-box;
    display: block;
    padding-top:7px;
    border-bottom-style: solid;
    border-bottom-color: rgb(221,221,221);
    border-bottom-width:1px;
}

.campaignHeader{
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    font-weight: normal;
    letter-spacing: 0;
/*
    padding-top: 10px;
    padding-bottom: 10px;*/
}

.campaignTagline{
    border-bottom-style: solid;
    border-bottom-color: rgb(221,221,221);
    border-bottom-width:1px;
   
    
}
#lastParagraph{
    padding: 0;
    margin: 0;
}

.superscript{
    vertical-align: super;
    font-size:10px;
}
.ownerAndBackit{

}

.campaignOwner{
  
    padding-top:5px;
}
.backitButton{
}

.project_owner_title{
    font-size: 12px;
    line-height:14px;
    margin-bottom:10px;
    text-transform: uppercase;
    color:#6a6a6a;
    font-style: bold;
}
#washeelogo{
    max-height:45px;
  
}

.campaignLocation{
    font-size:12px;
}

.campaignStatus{
}

.units_left{
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    text-align: right;
}
#number_left{
}

.headTabs{
    font-family: 'Oswald', sans-serif;
    font-size: 17px;
    font-weight: normal;
    text-transform: uppercase;
}
.contentTabs{
    padding-top: 30px;
    /*padding-left:30px;*/
    /*padding-right:30px;*/
}

.bodyTabs{
    font-family: 'Oswald', sans-serif;
    font-size:15px;
}
.beautifulWeed{
    max-width:100%;
}

#perksDivided{
    text-align: center;
    padding-bottom:15px;
    /*padding-top:10px;*/
}

h1, h2, h3, h4, h5, h6{
    padding-top:20px;
    padding-bottom:20px;
}
p{
    text-align:justify;
}

.productSizes{
    max-width:70%;
}
.productImages{
 
}
.subtitlesProduct{
    text-align:center;
}
.productsContainer{
    border-bottom-style: solid;
    border-top-style: solid;
    border-color: e5e7ea;
    border-bottom-width:1px;
    border-top-width:1px;
}
.performance{
    
}
.specsimg{
    max-width:100%;
}
#cleaningTimeimg{
    max-width:100%;
}

.founders{
    border-style:solid;
    border-width:1px;
    border-color: #e5e7ea;
    margin:5%;
    font-size:12px;
}
.Faqs h2{
    padding-top:0px;
    padding-bottom:0px;
    font-size:18px;
    font-weight:bold;
}
.selectPerk{
    margin-bottom:10px;
}

.perksCols{
    text-align:center;
    border-style:solid;
    border-width:1px;
    border-color: #e5e7ea;
    margin-top:15px;
    margin-bottom:15px;
}
.perkTitle{
    font-family: 'Oswald', sans-serif;
    font-size: 17px;
    font-weight: normal;
    text-transform: uppercase;
}
.bottomBar{
    background-color:#F8F9FA;
    color:black;
    font-size:14px;
    margin-top:40px;
    min-height:40px;
}