#top2{
    border-style:solid;
    align-items: center;

.righttop1{
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 30px;
    padding-top:30px;
}

.righttop2{
    min-width: 500px;
}
.campaignStatus{
    
}

.campaignHeader{

}